/* FONTS */

@font-face {
    font-family: 'os-regular';
    src: url('../fonts/os-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'os-light';
    src: url('../fonts/os-light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'os-bold';
    src: url('../fonts/os-bold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'anton';
    src: url('../fonts/anton.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bobby';
    src: url('../fonts/bobby.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* COLORS */

:root{
    --pink: #E0A2FF;
    --blue: #3900a7;
    --yellow: #fce815;
    --black: #111111;
    --white: #eeeeee;

    --pinktp: rgba(224, 162, 255, 0.25);
    --whitetp: rgba(255, 255, 255, 0.25);
}

/* RESET */

html, body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--blue);
    font-family: os-regular, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--black);
}    

div {
    z-index: 99;
    padding: 0;
    margin: 0;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: var(--white);
}

/* BABYLON RENDER CANVAS */

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: -1;
}

/* LOADING SPINNER */

@keyframes loader {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

  .loader div {
    left: 59.52px;
    top: 21.76px;
    position: absolute;
    animation: loader linear 1s infinite;
    background: var(--yellow);
    width: 8.96px;
    height: 25.6px;
    border-radius: 3.072px / 3.072px;
    transform-origin: 4.48px 42.24px;
    display: inline;
 }

 .loader div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.875s;
    background: var(--yellow);
}
  
.loader div:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: -0.75s;
    background: var(--yellow);
}
  
.loader div:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: -0.625s;
    background: var(--yellow);
}
  
.loader div:nth-child(4) {
    transform: rotate(135deg);
    animation-delay: -0.5s;
    background: var(--yellow);
}

.loader div:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: -0.375s;
    background: var(--yellow);
}

.loader div:nth-child(6) {
    transform: rotate(225deg);
    animation-delay: -0.25s;
    background: var(--yellow);
}

.loader div:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: -0.125s;
    background: var(--yellow);
}

.loader div:nth-child(8) {
    transform: rotate(315deg);
    animation-delay: 0s;
    background: var(--yellow);
}

#loadFrame {
    width: 128px;
    height: 128px;
    overflow: hidden;
    background: rgba(57, 0, 167, 0);
    position: absolute;
    top: calc(50vh - 64px);
    left: calc(50vw - 64px);
    display: inline;
    z-index: 99;
}
  
.loader {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loader div {
    box-sizing: content-box;
}


/* DIALOG FRAME */

#dialogFrame {
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
    margin: 0 auto;
    height: auto;
    max-height: 22vh;
    width: calc(100% - 24px);
    max-width: 640px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#dialogTitle {
    grid-column: span 4;
    padding: 0.25em 0.75em;
    box-sizing: border-box;
    width: auto;
    font-family: bobby, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--black);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--white);
}

#dialogText {
    grid-column: span 4;
    padding: 0.75em;
    box-sizing: border-box;
    width: 100%;
    font-family: os-regular, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: var(--white);
    border-style: solid;
    border-width: 2px;
    border-color: var(--pink);
    border-radius: 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--pinktp);
}

#dialogButton {
    grid-column: 4;
    background-color: var(--yellow);
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color: var(--pink);
    padding: 0.33em;
    color: var(--black);
    font-family: os-bold, Arial, Helvetica, sans-serif;;
    font-size: 1.5em;
}

/* HOME BUTTON */

#homeButton {
    position: absolute;
    bottom: 64px;
    left: calc(50vw - 24px);
    width: 48px;
    height: 48px;
    z-index: 99;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    /* display: none; */
    cursor: pointer;
}

#socialBar {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 2px;
    height: 24px;
    font-family: bobby, Arial, Helvetica, sans-serif;;
}

/* LOGO */

#logoContainer {
    position: absolute;
    top: 0;
    z-index: 99;
    width: calc(100vw - 4em);
    margin: 2em;
    height: 10vh;
    box-sizing: content-box;
    background-image: url(../img/logo-kiez.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#logoTagline {
    text-align: center;
    font-family: bobby, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--white);
}

/* POWERED BY */

#poweredContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: bobby, Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    color: var(--pink);
}

#poweredLogos {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.poweredLogo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7vh;
    width: 7vh;
    margin: 1em;
}

#logoScum {
    background-image: url(../img/logo-scum.svg);
}

#logoGva {
    background-image: url(../img/logo-gva.svg);
}

/* PARTICLE */

#prt {
    width: 16x;
    height: 16px;
    background-color: var(--yellow);
    display: none;
}